<div class="modal-background">
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="modal-top">
        <h2 class="modal-title">Edit Formal Institution </h2>
        <button mat-icon-button (click)="cancel()" type="button" class="btn-close">
          <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
        </button>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="isSubmitted"></mat-progress-bar>

      <div class="modal-form">
        <app-input-text name="name" [formName]="form" label='name {{componentName}}'></app-input-text>
        <app-select-instant name="degree_id" [formName]="form" label='degree' [options]="options$.degree$|async">
        </app-select-instant>
        <app-select-instant name="major_id" [formName]="form" label='major' [options]="options$.major$|async">
        </app-select-instant>
        <app-input-date name="start_date" [formName]="form" label="start date"></app-input-date>
        <app-input-date name="end_date" [formName]="form" label="end date"></app-input-date>
      </div>

      <div class="modal-action">
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitted " (click)="onSubmit()">
          Save & Close
        </button>
        <button mat-stroked-button color="primary" type="button" [disabled]="isSubmitted" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
