<form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="overlay"></div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <img alt="" src="../../../../assets/logo/SB-logo.png" width="300px" height="150px"/>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="isErrorValidation" style="color :red;">Username / Email not registered</p>
      <div>
        <app-input-text name='identity' [formName]='forgetPasswordForm' label='Username / Email'>
        </app-input-text>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="handleErrors()">Send Reset
        Password</button>
    </mat-card-actions>
  </mat-card>
</form>
