<div [formGroup]="formName">
  <mat-form-field appearance="{{appearance}}">
    <mat-label>{{ignoreLabelCase ? (label) : (label | titlecase)}}</mat-label>
    <ng-container [ngSwitch]="textarea">
      <ng-container *ngSwitchCase="false">
        <div [ngSwitch]="type">
          <div *ngSwitchCase="'number'">
            <input matInput type="number" formControlName="{{name}}" [min]="min" [max]="max">
          </div>
          <div *ngSwitchDefault>
            <input matInput type="{{type}}" formControlName="{{name}}">
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <textarea matInput type="text" formControlName="{{name}}" cdkTextareaAutosize
          [cdkAutosizeMinRows]="textAreaMinRows" cdkAutosizeMaxRows="20"></textarea>
      </ng-container>
    </ng-container>
    <span matPrefix *ngIf="prefix">{{prefix}}</span>
    <span matSuffix *ngIf="suffix">{{suffix}}</span>
    <mat-error>
      <app-control-messages [control]="formName.get(name)"></app-control-messages>
    </mat-error>
  </mat-form-field>
</div>
