<div class="modal-background">
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="modal-top">
        <h2 class="modal-title">Add Work Experience</h2>
        <button mat-icon-button (click)="cancel()" type="button" class="btn-close">
          <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
        </button>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="isSubmitted"></mat-progress-bar>

      <div class="modal-form">
        <app-input-text name="business_type" [formName]="form" label='business type'></app-input-text>
        <app-input-text name="company" [formName]="form" label='company name'></app-input-text>
        <app-input-text name="position" [formName]="form" label='position'></app-input-text>
        <app-input-date name="start_date" [formName]="form" label="start date"></app-input-date>
        <app-input-date name="end_date" [formName]="form" label="end date" [min-date]="endDate.minDate">
        </app-input-date>
      </div>

      <div class="modal-action">
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitted " (click)="onSubmit(true)">
          Save & Close
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitted " (click)="onSubmit(false)">
          Save
        </button>
        <button mat-stroked-button color="primary" type="button" [disabled]="isSubmitted" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
