<div [formGroup]="formName">
  <mat-form-field appearance="standard">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="{{name}}">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" type="button"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>
      <app-control-messages [control]="formName.get(name)"></app-control-messages>
    </mat-error>
  </mat-form-field>
</div>
