<div class="filters-header">
  <span class="title-filter">Filters</span>
  <button mat-icon-button (click)="filterNav.toggle()" class="btn-filter">
    <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
  </button>
</div>
<div class="filters-content">
  <ng-content></ng-content>
</div>
<div class="filters-footer">
  <button mat-stroked-button fxShow fxHide.xs fxHide.sm color="primary" (click)="clear()">
    Clear Filters
  </button>
  <button mat-stroked-button fxHide fxShow.xs fxShow.sm color="primary" (click)="clear()">
    Clear
  </button>
</div>
