<div class="modal-background">
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="modal-top">
        <h2 class="modal-title">Edit Employee Number Scale (ENS)</h2>
        <button mat-icon-button (click)="cancel()" type="button" class="btn-close">
          <mat-icon aria-hidden="false" aria-label="close">close</mat-icon>
        </button>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="isSubmitted"></mat-progress-bar>

      <div class="modal-form">
        <app-input-text name="name" [formName]="form" label='name'></app-input-text>
        <div class="slug-container">
          <app-checkbox name="isRequestSlug" [formName]="form" label=''>
          </app-checkbox>
          <app-input-text name="slug" [formName]="form" label='slug'></app-input-text>
        </div>
        <app-input-text name="description" [formName]="form" label='description' textarea='true'></app-input-text>
      </div>

      <div class="modal-action">
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitted " (click)="onSubmit()">
          Save & Close
        </button>
        <button mat-stroked-button color="primary" type="button" [disabled]="isSubmitted" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
